appsettings.Development.json
.env

# --- Dotnet build ---
bin/
obj/
out/
publish/

# --- Visual Studio / JetBrains / VSCode ---
.vs/
.idea/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates
*.iml

# --- Logs ---
*.log
logs/

# --- OS files ---
.DS_Store
Thumbs.db
